<!-- <app-navbar></app-navbar> -->
<div class="main-content">
    <section style="background-image: url('images/slide-1.jpg');background-repeat: no-repeat;background-size: cover;">
        <div class="container-lg">
          <div class="row">
            <div class="col-lg-6 pt-5 mt-5">
              <h2 class="display-1 ls-1 img-text"><span class="fw-bold text-1">Organic Veggies & Fruits</span></h2>
            </div>
          </div>
          
          <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-0 justify-content-center ">
            <div class="col image-block-1">
              <div class="card border-0 image-card-1 rounded-0 p-4 main-color">
                <div class="row">
                  <div class="col-md-3 text-center">
                    <svg width="60" height="60"><use xlink:href="#fresh"></use></svg>
                  </div>
                  <div class="col-md-9">
                    <div class="card-body p-0">
                      <h5 class="main-color">Fresh from farm</h5>
                      <!-- <p class="card-text main-color">Lorem ipsum dolor sit amet, consectetur adipi elit.</p> -->
                      <img src="images/freshfarm.png" alt="" srcset="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col image-block-2">
              <div class="card border-0 image-card-2 rounded-0 p-4 text-light">
                <div class="row">
                  <div class="col-md-3 text-center">
                    <svg width="60" height="60"><use xlink:href="#organic"></use></svg>
                  </div>
                  <div class="col-md-9">
                    <div class="card-body p-0">
                      <h5 class="sec-color">100% Organic</h5>
                      <!-- <p class="card-text sec-color">Lorem ipsum dolor sit amet, consectetur adipi elit.</p> -->
                      <img src="images/organic.png" alt="" srcset="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col image-block-3">
              <div class="card border-0 image-card-3 rounded-0 p-4">
                <div class="row">
                  <div class="col-md-3 text-center">
                    <svg width="60" height="60"><use xlink:href="#delivery"></use></svg>
                  </div>
                  <div class="col-md-9">
                    <div class="card-body p-0">
                      <h5 class="main-color">Free delivery</h5>
                      <!-- <p class="card-text main-color">Lorem ipsum dolor sit amet, consectetur adipi elit.</p> -->
                      <img src="images/freedelivery.png" alt="" srcset="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </section>

      <section class="pb-5">
        <div class="container-lg">
  
          <div class="row">
            <div class="col-md-12">
  
              <div class="section-header d-flex flex-column justify-content-center align-content-center my-4">
                
                <h1 class="">Shop</h1>
                <p class="main-color">Best organic fresh food</p>
              </div>
            </div>
          </div>

<!-- skeleton loader -->

      <div class="row" *ngIf="isLoading">
        <div class="col-md-12">
          <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
            <div class="col" *ngFor="let _ of [1,2,3,4]">  <!-- Repeat for 4 skeletons -->
              <div class="product-item skeleton">
                <div class="skeleton-image"></div>
                <div class="skeleton-text skeleton-title"></div>
                <div class="skeleton-text skeleton-rating"></div>
                <div class="skeleton-text skeleton-price"></div>
                <div class="skeleton-button"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
          
          <div class="row" *ngIf="!isLoading">
            <div class="col-md-12">
  
              <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
                    
                <div class="col card-space" *ngFor="let product of productsList">
                  <div class="product-item">
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img [src]= "product.productImageUrl"  alt="Product Thumbnail" class="tab-image">
                      </a>
                    </figure>
                    <div class="d-flex flex-column text-center">
                      <h3 class="fs-6 fw-normal">{{product.productShortName}}</h3>
                      <div>
                        <span class="rating">
                          <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                          <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                          <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                          <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                          <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                        </span>
                       
                      </div>
                      <div class="d-flex justify-content-center align-items-center gap-2">
                        
                        <span class="text-dark fw-semibold">${{product.productPrice}}</span>
                        <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                      </div>
                      <div class="button-area p-3 pt-0">
                        <div class="row g-1 mt-2">
                          <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                          <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</a></div>
                        
                          <div class="col-2"><a href="#" class="btn btn-dark rounded-1 p-2 fs-6"><i class="fa fa-heart" aria-hidden="true"></i></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>        
            
                
              </div>
              <!-- / product-grid -->
  
  
            </div>
          </div>
        </div>
      </section>
</div>