<div class="navMenu container-fluid">
  <div class="container navbar-full">

    <div class="logo">
      <a routerLink="/">
        <img src="images/logo.png" alt="" srcset="">
      </a>
    </div>

    <div class="menu-items">
      <ul class="d-flex flex-row gap-4 list-unstyled">
        <li>Home</li>
        <li>Shop</li>
        <li>Categories</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>

    <div class="menue-icons">
      <ul class="d-flex flex-row justify-content-between gap-4">
        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#searchModal">
          <li class="fa-solid fa-magnifying-glass"></li>
        </a>
        <a href="" class="nav-link position-relative">
          <li class="fa-solid fa-shopping-cart"></li>
          <span class="badge top-1 start-99 translate-middle rounded-pill"><small>3</small></span>
        </a>
      </ul>
    </div>


    <div class="login">
      <button class="btn-login" id="SignUp">Login</button>
    </div>

    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered"> <!-- Centered Modal -->
        <div class="modal-content search-modal">
          <div class="modal-header border-0">
            <h5 class="modal-title" id="searchModalLabel">🔍 Search</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="search-container">
              <i class="fa-solid fa-magnifying-glass search-icon"></i>
              <input type="text" class="form-control search-input" placeholder="Type to search...">
            </div>
          </div>
        </div>
      </div>
    </div>

       
    <div class="toggle">
      <button class="menu" (click)="openMenu()"
        onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
        aria-label="Main Menu">
        <svg class="" viewBox="0 0 100 100">
          <path class="line line1"
            d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
          <path class="line line2" d="M 20,50 H 80" />
          <path class="line line3"
            d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
      </button>
    </div>
  </div>

    <!-- Mobile menu -->
    <div class="mobile-menu" [class.active]="isMenuOpen">
      <div class="menu-items-mobile">
        <ul class="menu-list">
          <li routerLink="/">Home</li>
          <li>Shop</li>
          <li>Categories</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>

</div>

